.fondo{
    background-color: $color-marron;
    background-image: url("../img/bg-cafe.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

article{
    background-color: $color-claro;
    margin: 80px 50px 80px 80px;
    border-radius: 12px;
    
}

